@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    background-image: url(https://kq-storage.s3.ap-south-1.amazonaws.com/Github/bucketlist/bucket-list-bg%5B1%5D.png);
    background-size: 100% 240px;
    background-repeat: no-repeat;
    text-align: center;
}
h1.heading {
    font-size: 35px;
}
.container{
    color: white;
    padding-top: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding-left: 5px;
}

.input-field{
    width: 315px;
    height: 35px;
    border: 1px solid #F7BE38;
    margin-left: 10px;
    border-radius: 20px;
    font-size: 18px;
    
}

.btn-submit{
    width: 75px;
    height: 40px;
    border-radius: 112px;
    font-weight: bold;
    margin-left: -42px;
    font-size: 18px;
    background-color: #F7BE38;
}

h2{
    font-size: 25px;
    padding-top: 120px;
    color: black;
}

p{
    font-size: 16px;
    color: black;
}

li{
    color: #13243E;
    list-style-type:none;
    border: 1px solid  #828282;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    text-align: start;
    max-width: 400px;
    margin: 15px 0 0 407px ;
    padding: 15px;
    font-size: medium;
}

.btn-reset{
    width: 230px;
    height: 40px;
    margin-top: 45px;
    border-radius: 20px;
    border: 1px solid #F7BE38;
    background-color: #F7BE38;
    font-weight: bold;
    font-size: 18px;
}

.footer{
    color: black;
    margin-top: 60px;
    font-size: large;
}